[project]
	description = scripts for pagapps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mfonville
[access "refs/for/refs/*"]
	read = group user/mfonville
	push = group user/mfonville
	label-Code-Review = -2..+2 group user/mfonville
	label-Verified = -1..+1 group user/mfonville
	rebase = group user/mfonville
	removeReviewer = group user/mfonville
	submit = group user/mfonville
[access "refs/heads/*"]
	read = group user/mfonville
	create = group user/mfonville
	push = +force group user/mfonville
	pushMerge = group user/mfonville
[access "refs/tags/*"]
	push = +force group user/mfonville
	pushTag = group user/mfonville
	pushSignedTag = group user/mfonville
